- var link = 'letswrite-google-forms-id-data'
- var title = 'Google表單，輸入姓名查詢 ID'
- var description = '文章大綱'

doctype html
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title} - August - Let's Write

    link(rel="canonical", href=`https://letswritetw.github.io/${link}/`)
    meta(property="og:url", content=`https://letswritetw.github.io/${link}/`)
    meta(property="fb:app_id", content="2435108729902508")
    meta(property="og:type", content="website")
    meta(property="og:site_name", content="Let's Write")
    meta(property="og:title", content=`${title} - August - Let's Write`)
    meta(itemprop="name", content=`${title} - August - Let's Write`)
    meta(name="description", content=description)
    meta(property="og:description", content=description)
    meta(itemprop="description", content=description)
    meta(itemprop="image", content=`https://letswritetw.github.io/${link}/fb.jpg`)
    meta(property="og:image", content=`https://letswritetw.github.io/${link}/fb.jpg`)
    meta(property="og:image:width", content="1200")
    meta(property="og:image:height", content="630")
    meta(property="og:image:alt", content=title)
    link(rel="shortcut icon", href="https://letswritetw.github.io/letswritetw/dist/img/logo_512.png")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
    link(rel="stylesheet", href="dist/style.min.css")

    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PGQ9WQT');

  body
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-PGQ9WQT", height="0", width="0", style="display:none;visibility:hidden")

    #app.container
      section.kv.w-640
        img(src="https://picsum.photos/640/360", width="640", height="360", alt="主視覺")

      section.form.w-640
        .text-center
          h1 #{title}
          p 筆記文：
            a(href="https://letswrite.tw/google-forms-id-data/", target="_blank") Let's Write

        .form-group
          label(for="main_name") 請輸入姓名
          input#main_name.form-control(type="text", v-model="name", @input="lookupByName")

        .form-group(v-if="id")
          label(for="id") 對應 ID
          input#id.form-control(type="text", :value="id", disabled)

        p(v-if="name && !id") 查無此姓名

    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js")
    script(src="dist/main.min.js")
